.flag-icon {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100%;

    &-en { background: url('/assets/flags/gb.svg') no-repeat center; }
    &-el {
      background: url('/assets/flags/gr.svg') no-repeat center;
    }
}