.padding-spacer {
    padding: 1.34375em;
}

.padding {
  padding: 1rem;
}

.flex_buttons {
  display: flex;

  > * {
      cursor: pointer;
  }
}

.fixed {
  position: fixed !important;
  bottom: 22px;
  right: 22px;
}

.spacer {
  display: block;
  height: 30px;
}