<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span> {{ 'header.application' | translate }}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <span class="flag-icon flag-icon-{{currentLanguage}} flag-icon-squared"></span>
  </button>
  <button mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="useLanguage('en')">
    {{ 'header.en_lang' | translate }}
  </button>
  <button mat-menu-item (click)="useLanguage('el')">
    {{ 'header.gr_lang' | translate }}
  </button>
</mat-menu>